<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/boards">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Q&A</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            게시판
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">잡담</a></li>
            <li><a class="dropdown-item" href="#">이미지</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex ms-auto">
        <div th:if="${loggedInUser == null}">
          <a href="/login" class="btn btn-light btn-sm custom-btn me-1">로그인</a>
          <a href="/users/register" class="btn btn-light btn-sm custom-btn">회원가입</a>
        </div>
        <div th:if="${loggedInUser != null}">
          <a>
            <i class="bi bi-person-circle"></i>
            <strong th:text="${loggedInUser.nickname}" class="me-2"></strong>
          </a>
          <a href="/user/my-page" class="btn btn-light btn-sm custom-btn">마이페이지</a>
          <a href="/logout" class="btn btn-light btn-sm custom-btn">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
